@model Restaurant.ViewModels.MasterMenuModel

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title fs-2">Creat Menu </h5>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Index"> Menu</a></li>
                <li class="breadcrumb-item active">Creat Menu</li>
            </ol>
        </nav>

        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


           

                    <div class="col-12">
                        <label asp-for="MasterMenuName" class="control-label"></label>
                        <input asp-for="MasterMenuName" class="form-control" />
                        <span asp-validation-for="MasterMenuName" class="text-danger"></span>
                    </div>

  
                    <div class="col-4">
                        <label asp-for="MasterMenuUrl" class="control-label"></label>
                        <input asp-for="MasterMenuUrl" class="form-control" />
                        <span asp-validation-for="MasterMenuUrl" class="text-danger"></span>
                    </div>
        
            
                    <div class="text-center mt-5">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-primary">creat</button>
                    </div>

                    <div>

                        <button type="button" class="btn btn-outline-primary">
                            <a asp-action="Index">Cancel </a>

                        </button>
                    </div>

                </form>


            </div>






        </div>
    </div>
</div>

<div>
</div>
