@model Restaurant.Models.MasterCategoryMenu

@{
    ViewData["Title"] = "Edit";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Edit Category Menu </h5>
<nav class="">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Category Menu </a></li>
        <li class="breadcrumb-item active">Edit Category</li>


    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden>
            <input type="hidden" asp-for="MasterCategoryMenuId" />
            <input type="hidden" asp-for="CreatDate" />
            <input type="hidden" asp-for="CreatUser" />
            <input type="hidden" asp-for="EditUser" />
            <input type="hidden" asp-for="EditDate" />
                    </div>
                    <div class="row mb-3">
                        <label asp-for="MasterCategoryMenuName" class="control-label"></label>
                        <input asp-for="MasterCategoryMenuName" class="form-control" />
                        <span asp-validation-for="MasterCategoryMenuName" class="text-danger"></span>
                    </div>
           

                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-3 pt-0">status</legend>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input  asp-for="IsActive" class="form-check-input" type="checkbox" >
                                <label asp-for="IsActive" class="form-check-label"  >
                                    Active
                                </label>
                            </div>

                        </div>
                    </fieldset>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

                    <div>
                       
                        <button type="button" class="btn btn-outline-primary">
                            <a asp-action="Index">Cancel </a>
                            
                            </button>
                    </div>


        </form>
    </div>
</div>
    </div>
</div>





