@model Restaurant.ViewModels.AdminUserModel

<div class="user-info d-flex align-items-center">
    <img src="/admin/assets/img/@Model.imageurl" alt="User" class="rounded-circle"  />
    <span  class="d-none d-md-block dropdown-toggle ps-2">@Model.FullName</span>
</div>
