@model Restaurant.ViewModels.LogIn

@{
    ViewData["Title"] = "LogIn";
    Layout ="RegistrationLayout";

}

<div class="card mb-3">
    <div class="card-body">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
            <p class="text-center small">Enter your Email & password to login</p>
        </div>

        <form class="row g-3 needs-validation" asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12">
                <label asp-for="Email" class="control-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" asp-for="RemmberMe" />
                    <label class="form-check-label">@Html.DisplayNameFor(model => model.RemmberMe)</label>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

